# ignore ALL .log files
*.log
/.git

# ignore ALL files in ANY directory named temp
temp/
venv/
.idea/
.github/
.pytest_cache/
tests/__pycache__/
tests/.pytest_cache/
src/modules/__pycache__/
src/configuration/__pycache__/
src/other/__pycache__/
src/database/
